<div mat-dialog-content>
    <input matInput [(ngModel)]="data.fileName" class="custom-properties" style="width: 71%;" placeholder="File Name">
    <button (click)="fileInput.click()" class="custom-properties file-button">
      <span>File</span>
      <input #fileInput type="file" class="custom-properties file-button" (change)="onFileInput($event.target.files)" style="display:none;" />
    </button>
    <br>
      <input matInput [(ngModel)]="data.title" class="custom-properties" placeholder="Title" style="min-width: 99%;">
    <br>
      <textarea matInput [(ngModel)]="data.description" class="custom-properties" placeholder="Description"></textarea>
  </div>
    <button mat-button (click)="onNoClick()" class="custom-properties below-button" style="float: left;">CANCEL</button>
    <button mat-button [mat-dialog-close]="data" class="custom-properties below-button" style="float: right;">OK</button>

