<div class="weather-details-panel">
    <div class="weather-detail-element" (mouseover)="textChanger.changeDateText=true" (mouseout)="textChanger.changeDateText=false">
        <span *ngIf="textChanger.changeDateText" class="titleSpan info-span">Date</span>
        <span *ngIf="!textChanger.changeDateText" class="info-span">{{currentWeather.weatherInfo.day || 'Date'}}</span> 
    </div>
    <div class="weather-detail-element" (mouseover)="textChanger.changeCountryText=true" (mouseout)="textChanger.changeCountryText=false">
        <span *ngIf="textChanger.changeCountryText" class="titleSpan info-span">Country</span>
        <span *ngIf="!textChanger.changeCountryText" class="info-span">{{currentWeather.weatherInfo.country || 'Country'}}</span>
    </div>
    <div class="weather-detail-element" (mouseover)="textChanger.changeHourText=true" (mouseout)="textChanger.changeHourText=false">
        <span *ngIf="textChanger.changeHourText" class="titleSpan info-span">Hour</span>
        <span *ngIf="!textChanger.changeHourText" class="info-span">{{currentWeather.weatherInfo.hour || 'Hour'}}</span>
         
    </div>
    <div class="weather-detail-element" (mouseover)="textChanger.changeCityText=true" (mouseout)="textChanger.changeCityText=false">
        <span *ngIf="textChanger.changeCityText" class="titleSpan info-span">City</span>
        <span *ngIf="!textChanger.changeCityText" class="info-span">{{currentWeather.weatherInfo.city || 'City'}}</span>
        
    </div>
    <div class="weather-detail-element info-span">
        Temperature
    </div>
    <div class="weather-detail-element info-span">
        Coordinates
    </div>
    <div class="weather-detail-little-element-container">
        <div class="weather-detail-element weather-detail-little-element" (mouseover)="textChanger.changetemperatureCText=true" (mouseout)="textChanger.changetemperatureCText=false">
            <span *ngIf="textChanger.changetemperatureCText" class="titleSpan info-span">C</span>
            <span *ngIf="!textChanger.changetemperatureCText" class="info-span"> {{currentWeather.weatherInfo.temperatureC || 'C'}}</span>
        </div>
    
        <div class="weather-detail-element weather-detail-little-element" style="margin:0px;" (mouseover)="textChanger.changetemperatureFText=true" (mouseout)="textChanger.changetemperatureFText=false">
            <span *ngIf="textChanger.changetemperatureFText" class="titleSpan info-span">F</span>
            <span *ngIf="!textChanger.changetemperatureFText" class="info-span">{{currentWeather.weatherInfo.temperatureF || 'F'}}</span>
         
        </div>
    </div>
    <div class="weather-detail-little-element-container">
        <div class="weather-detail-element weather-detail-little-element" (mouseover)="textChanger.changeLatText=true" (mouseout)="textChanger.changeLatText=false">
            <span *ngIf="textChanger.changeLatText" class="titleSpan info-span">Lat</span>
            <span *ngIf="!textChanger.changeLatText" class="info-span">{{currentWeather.weatherInfo.latitude || 'Lat'}}</span>
         
        </div>
        <div class="weather-detail-element weather-detail-little-element" style="margin:0px;" (mouseover)="textChanger.changeLonText=true" (mouseout)="textChanger.changeLonText=false">
            <span *ngIf="textChanger.changeLonText" class="titleSpan info-span">Lon</span>
            <span *ngIf="!textChanger.changeLonText" class="info-span">{{currentWeather.weatherInfo.longitude || 'Lon'}}</span>
        </div>
    </div>
    <div class="weather-detail-element weather-big-element" (mouseover)="textChanger.changeHumidityText=true" (mouseout)="textChanger.changeHumidityText=false">
        <span *ngIf="textChanger.changeHumidityText" class="titleSpan big-info-span">Humidity</span>
        <span *ngIf="!textChanger.changeHumidityText" class="big-info-span">{{currentWeather.weatherInfo.humidity || 'Humidity'}}</span>
         
    </div>
    <div class="weather-detail-element weather-big-element" (mouseover)="textChanger.changePressureText=true" (mouseout)="textChanger.changePressureText=false">
        <span *ngIf="textChanger.changePressureText" class="titleSpan big-info-span">Pressure</span>
        <span *ngIf="!textChanger.changePressureText" class="big-info-span">{{currentWeather.weatherInfo.pressure || 'Pressure'}}</span>
         
    </div>
    <div class="weather-detail-element weather-big-element" (mouseover)="textChanger.changeSunriseText=true" (mouseout)="textChanger.changeSunriseText=false">
        <span *ngIf="textChanger.changeSunriseText" class="titleSpan big-info-span">Sunrise</span>
        <span *ngIf="!textChanger.changeSunriseText" class="big-info-span"> {{currentWeather.weatherInfo.sunrise || 'Sunrise'}} </span>
       
    </div>
    <div class="weather-detail-element weather-big-element" (mouseover)="textChanger.changeSunsetText=true" (mouseout)="textChanger.changeSunsetText=false">
        <span *ngIf="textChanger.changeSunsetText" class="titleSpan big-info-span">Sunset</span>
        <span *ngIf="!textChanger.changeSunsetText" class="big-info-span"> {{currentWeather.weatherInfo.sunset || 'Sunset'}}</span>
    </div>
</div>
<div class="button-panel">
<div class="details-buttons-container">
    <div *ngIf="currentWeather.weatherInfo.id==null" class="custom-button details-button" style="opacity: 0.6; background-color: #828080;  margin-left: 0px;">
        Save   
    </div>
    <div *ngIf="currentWeather.weatherInfo.id!=null" class="custom-button details-button" style="background-color: #828080;  margin-left: 0px;" (click)="saveWeather()">
        Save    
    </div>
    
    <div *ngIf="currentWeather.weatherInfo.id==null" class="custom-button details-button" style="opacity: 0.6; background-color: #CDFF00;  width: 36%; ">
        Add Image    
    </div>
    <div *ngIf="currentWeather.weatherInfo.id!=null" class="custom-button details-button" style="background-color: #CDFF00;  width: 36%; " (click)="openAddPhotoDialog()">
        Add Image    
    </div>
    <div *ngIf="currentWeather.weatherInfo.id==null" class="custom-button details-button" style="opacity: 0.6; background-color: #00A5FF; margin-right: 0px;">
        Gallery
    </div>
    <div *ngIf="currentWeather.weatherInfo.id!=null" class="custom-button details-button" style="background-color: #00A5FF; margin-right: 0px;" (click)="showGallery()">
        Gallery
    </div>
</div>
<div class="custom-button" style="background-color: #FF6600; float: left; margin-left: 0px;"(click)="logout()">
    Logout 
</div>
</div>